.photo-main{

  &__desc {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  &__btn {
  color: white;
  // background-color: #1de9b6;
  border-color: #1de9b6;
  &:hover {
    color: white;
    background-color: #1de9b6;
  }
  }
}

