.hero-header {
  width: 100%;
  padding: 8rem 15px;
  margin-right: auto;
  margin-left: auto;

  &__heading {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
  }

  &__desc {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &__btn {
    color: white;
    // background-color: #1de9b6;
    border-color: #1de9b6;
    &:hover {
      color: white;
      background-color: #1de9b6;
    }
  }
  // @media (min-width: 576px) {
  //   .hero-header {
  //     max-width: 540px; } }
  // @media (min-width: 768px) {
  //   .hero-header {
  //     max-width: 720px; } }
  // @media (min-width: 992px) {
  //   .hero-header {
  //     max-width: 960px; } }
  // @media (min-width: 1200px) {
  //   .hero-header {
  //     max-width: 1140px; } }
}